<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <!--命令行或配置文件设置
    java -jar -Dlog_dir=logs1 app-gateway-0.0.1-SNAPSHOT.jar
    -->
    <springProperty scope="context" name="log_dir" source="log_dir" defaultValue="logs"/>
    <springProperty scope="context" name="spring.application.name" source="spring.application.name" defaultValue="all"/>

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>


    <!-- Log file all output -->
    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/${spring.application.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/%d{yyyy-MM, aux}/all.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>%date [%tid] [%thread] %-5level [%logger{50}] %file:%line - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <!-- 异步输出 -->
    <appender name="async-all" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <includeCallerData>true</includeCallerData>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="all"/>
    </appender>

    <!-- Console log output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>
    <!--log4jdbc -->
    <!--<logger name="jdbc.sqltiming" level="debug"/>-->
    <!--<logger name="com.ibatis" level="debug" />-->
    <!--<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="debug" />-->
    <!--<logger name="com.ibatis.common.jdbc.ScriptRunner" level="debug" />-->
    <!--<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="debug" />-->
    <!--<logger name="java.sql.Connection" level="debug" />-->
    <!--<logger name="java.sql.Statement" level="debug" />-->
    <!--<logger name="java.sql.PreparedStatement" level="debug" />-->
    <!--<logger name="java.sql.ResultSet" level="debug" />-->
    <!--<logger name="com.chainup.exchange.dao" level="debug" />-->
    <!--<logger name="com.chainup.otc.dao" level="debug" />-->
    <!-- Level: FATAL 0 ERROR 3 WARN 4 INFO 6 DEBUG 7 -->
    <root level="info">
        <springProfile name="local">
            <appender-ref ref="async-all"/>
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="console"/>
            <appender-ref ref="async-all"/>
        </springProfile>
        <springProfile name="test">
            <appender-ref ref="async-all"/>
        </springProfile>
        <springProfile name="fat">
            <appender-ref ref="async-all"/>
        </springProfile>
        <springProfile name="uat">
            <appender-ref ref="async-all"/>
        </springProfile>
        <springProfile name="pro">
            <appender-ref ref="async-all"/>
        </springProfile>
    </root>
</configuration>
